@page
@model Restaurante.Pages.FoodItems.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">Create New</a>
    <br />
    <a class="btn btn-primary" href="./FoodItems/search" role="button">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Description)
            </th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="" height="100" width="100">
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
